@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #170202;
    --background: #ffffff;
    --primary: #750000;
    --secondary: #d11100;
    --accent: #ff0000;
  }

  .dark {
    --text: #fde8e8;
    --background:#292121;
    --primary: #ff8a8a;
    --secondary: #ff3f2e;
    --accent: #ff0000;
  }
}

.active-underline {
  position: relative;
}
.active-underline::after {
  content: '';
  display: block;
  height: 1px;
  background: #ff0000;
  margin-top: 5px;
  width: 100%;
  opacity: 1;
}

@layer components {
  /* Base button */
  .btn {
    @apply px-4 py-2 transition-all duration-200;
  }

  /* Primary */
  .btn-primary {
    @apply bg-secondary text-background rounded-md text-sm hover:bg-primary;
  }

  /* Secondary */
  .btn-secondary {
    @apply bg-background text-primary rounded-md text-sm border border-primary;
  }

  /* Tertiary (link style) */
  .btn-tertiary {
    @apply text-primary underline underline-offset-2 hover:text-secondary;
  }

  /*text input field */
  .input-field {
    @apply px-3 py-2 rounded-lg border border-gray-700  text-text text-sm focus:border-secondary outline-none transition;
  }
}

@layer utilities {
  .clip-diagonal {
    background: linear-gradient(105deg, white 50%, #ff0000 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .clip-diagonal1 {
    background: linear-gradient(145deg, transparent 60%, #d11100  40%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .clip-diagonal2 {
    background: linear-gradient(165deg, transparent 70%, #750000  30%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .clip-diagonal4 {
    background: linear-gradient(255deg, white 50%, #ff0000 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .clip-diagonal5 {
    background: linear-gradient(215deg, transparent 60%, #d11100  40%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .clip-diagonal6 {
    background: linear-gradient(195deg, transparent 70%, #750000  30%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  /* .clip-diagonal {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    background: url('/public/assets/img/background.jpg') no-repeat center center;
    background-size: cover;
  } */
}